{% load static %}

<link rel="stylesheet" href="{% static 'images/show_style.css' %}">

<div class="outer-container">
    <a href="{% url 'data' image.id %}">
        <img class="image" src="{% url 'data' image.id %}" alt="{{ image.filename }}" />
    </a>

    <div class="tags-container">
        <a href="{% url 'tags_index' %}">Tags:</a>
        {% for tag, applied in tags %}
            <a href="{% if applied %}{% url 'remove_tag' image.id tag.id %}{% else %}{% url 'add_tag' image.id tag.id %}{% endif %}">
            <span class="tag {% if applied %}tag-on{% else %}tag-off{% endif %}">{{ tag.name }}</span>
            </a>
        {% endfor %}
        <form action="{% url 'create_tag' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="initial_image_id" value="{{ image.id }}">
            <input type="text" name="tag_name">
        </form>
    </div>
    <div class="tags-container">
        <a href="{% url 'tags_index' %}">See More Of:</a>
        {% for tag, applied in tags %}
            {% if applied %}
            <a href="{% url 'tags_show' tag.id %}">
            <span class="tag tag-on">{{ tag.name }}</span>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
