.page-show .outer-container {
    max-width: 1000px;
    margin: 0 auto;
}

.page-show .image {
    width: 100%;
}

.page-show .viewcount {
    font-size: 1.2em;
    text-align: center;
}

.page-show .tags-container {
    margin-top: 30px;
    font-size: 1.5em;
}

.page-show .tags-container form {
    display: inline;
}

.page-show .tags-container form input {
    font-size: 1.0em;
}

.page-show .tags-container a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1.0);
}

.page-show .tag {
    margin: 0 5px;
    cursor: pointer;
}

.page-show .tag-on {
    color: rgba(0, 0, 0, 1.0);
}

.page-show .tag-off {
    color: rgba(0, 0, 0, 0.3);
}
